@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&subset=korean');
@import url('../Fonts/NotoSansCJKkr-Black.otf');
@import url('../Fonts/NotoSansCJKkr-Bold.otf');
@import url('../Fonts/NotoSansCJKkr-DemiLight.otf');
@import url('../Fonts/NotoSansCJKkr-Light.otf');
@import url('../Fonts/NotoSansCJKkr-Medium.otf');
@import url('../Fonts/NotoSansCJKkr-Regular.otf');
@import url('../Fonts/NotoSansCJKkr-Thin.otf');
@import url('../Fonts/THEFACESHOP\ INKLIPQUID.ttf');

html, body {
    height:100%;width:100%;
    font-family:'Noto Sans KR', sans-serif;
}
::-webkit-scrollbar {
    display:none;
}
#wrap {
    height: 100%;width:100%;
    header {
        position: fixed;width:100%;
        top:0; left:0; height: 90px; z-index: 10;
        font-family: 'Noto Sans CJK KR Light';
        #logoBox {
            padding:21px 0 0 45px;
            line-height: 42px; font-size: 27px;
            color:#3b3b3b;opacity:.7;
            img {
                float: left; margin-right: 22px;
                width: 42px;
                &.white {
                    display: none;
                }
                &.gray {
                    display: block;
                }
            }
        }
        nav {
            position: absolute;            
            top:0; right:0; padding-right: 37px;
            padding-top: 30px;
            ul {
                li {
                    float: left;
                    margin-left: 50px;
                    a {
                        text-decoration: none;
                        color:#3b3b3b; font-size: 24px;
                        &:hover {
                            color: #bbbbbb;
                        }
                    }
                }
            }
        }
        &.on {
            #logoBox {
                color:#fff;
                opacity: .37; 
                img {
                    &.white {
                        display: block;
                    }
                    &.gray {
                        display: none;
                    }
                }
            }
            nav {
                ul>li>a {
                    color:#fff;
                    opacity: .37; 
                    &:hover {
                        opacity: .9;
                    }
                }
            }
        }
    }
    section {
        height: 100%; 
        ul {
            height: 100%;
            >li {
                height: 100%;
                padding: 50px;
                box-sizing: border-box;
                background: #f7f7f7;
            }
            .p0 {
                background: unset;
                text-align: center;
                position: relative;
                padding-top: 16.6%;
                .ma {
                    font-size: 210px;
                    color:#ff0163; 
                    font-family: 'Noto Sans CJK KR Black';
                    span {
                        letter-spacing: 50px;
                    }
                }
                .bot {
                    background: #f7f7f7;
                    font-family: 'Noto Sans CJK KR Thin';
                    height: 210px;width:100%;
                    position: absolute; left:0;
                    bottom:0px; 
                    padding-top: 50px; font-size: 44px;
                    box-sizing: border-box;
                    p {
                        margin-bottom: 30px;
                        color:#333;
                        letter-spacing: 15px;
                    }
                }
            }
            .p1 {
                padding-top: 11%; 
                text-align: center;
                .logoBig {
                    margin-bottom: 18px;
                }
                .magenta {
                    font-size: 26px;
                    letter-spacing: 12px;
                    margin-bottom: 70px;
                    font-family: 'Noto Sans CJK KR Thin';
                }
                .searchBox {
                    margin: auto; text-align: left;
                    font-family: 'Noto Sans CJK KR Medium';
                    width: 900px; height: 85px;
                    border: 5px solid #ff2765;
                    padding-left: 24px; line-height: 85px;
                    position: relative; background: #fff;
                    margin-bottom: 100px;
                    #typing {
                        font-size: 36px;
                        letter-spacing: 2px;
                    }
                    .searchBtn {
                        font-size: 26px;
                        position: absolute;
                        top:-1px; right: -1px;
                        width:95px; height: 87px;
                        background: #ff2765; color:#fff;
                        text-align: center;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .arrow {
                        position: absolute;
                        top:38px; right:130px;
                    }
                }
                .colorBar {
                    width:500px; height: 4px; margin: auto;
                    background: #ff2765; overflow: hidden;
                    position: relative;
                    >img {
                        width:350px; height: 4px;
                        position: absolute; top:0;
                        left:-100px;
                        animation: colorBar 1.3s linear infinite;
                    }
                    @keyframes colorBar {
                        from {
                            left:-200px;
                        } to {
                            left:400px;
                        }
                    }
                }
            }
            .p2 {
                .searchBox {
                    margin:4% auto 6.3%; text-align: left;
                    width: 900px; height: 85px;
                    border: 5px solid #828282;
                    padding-left: 24px; line-height: 85px;
                    position: relative; background: #fff;
                    .typing {
                        font-size: 36px;
                        letter-spacing: 2px;

                    }
                    .searchBtn {
                        font-size: 24px;
                        position: absolute;
                        top:-1px; right: -1px;
                        width:95px; height: 87px;
                        background: #828282; color:#fff;
                        text-align: center;
                    }
                    .arrow {
                        position: absolute;
                        top:38px; right:130px;
                    }
                }
                .middleBox {
                    width:1300px; height: 500px;
                    margin: auto;
                    >p {
                        font-family: 'Noto Sans CJK KR Thin';
                        font-size: 42px;
                        span {
                            font-family: 'Noto Sans CJK KR Medium';
                        }
                    }
                    .strokeBox {
                        margin:85px auto 55px;
                        padding-left: 100px;
                        font-family: 'Noto Sans CJK KR Black';
                        position: relative;
                        left:-100px;
                        opacity: 0;
                        transition: all 1s;
                        transition-delay: 1.3s;
                        img {
                            width:1130px;
                        }
                        p {
                            font-size: 55px; color: #fff;
                            padding-left:80px ;
                            position: absolute; top:75px; left: 145px;
                        }
                    }
                    .right {
                        text-align: right;
                    }
                }
                &.on {
                    .strokeBox {
                        left: 0; opacity: 1;
                    }
                }
            }
            .p3 {
                display: flex; padding: 0;
                >div {
                    width:50%;
                }
                .left {
                    padding-top: 12px;box-sizing: border-box;
                    text-align: center;
                    img {
                        margin-bottom: 24px;
                    }
                    .magenta {
                        font-family: 'Noto Sans CJK KR Thin';
                        font-size: 23px; margin-bottom: 40px;
                        letter-spacing: 10px;
                    }
                    .txt {
                        font-family: 'Noto Sans CJK KR Thin';
                        font-size: 44px; line-height: 56px;
                        span {
                            font-family: 'Noto Sans CJK KR Bold';
                        }
                    }
                }
                .right {
                    padding-top: 90px;
                    box-sizing: border-box;
                    .tileBox {
                        width:880px; height: 100%; overflow: hidden;
                        background: #e5e5e5; position: relative;
                        z-index: 2;
                        .txt {
                            position: absolute; top:0; left: 0;
                            width:100%; height: 100%;
                            font-family: 'Noto Sans CJK KR Medium';
                            font-size: 44px; color:#fff; text-align: center;
                            p {
                                position: absolute;width: 100%;
                            }
                            .fir {
                                top: 8%; 
                                opacity: 0;
                                transition: all 1s;
                                transition-delay: 2s;
                            }
                            .sec {
                                top:48%;
                                opacity: 0;
                                transition: all 1s;
                                transition-delay: 2.4s;
                            }
                            .thi {
                                top: 86%;
                                opacity: 0;
                                transition: all 1s;
                                transition-delay: 2.8s;
                            }
                        }
                        .tileList {
                            position: absolute; top:0;left: 0;
                            width: 100%; z-index: -1;
                            height: 100%;
                            ul {
                                position: absolute;
                                top:100%; 
                                width: 100%;
                                height: 100%;
                                transition: all 2.4s ;
                                li {
                                    border-radius: 24px;
                                    width:81%; height: 42%;
                                    background: #999;
                                    position: absolute;
                                    left:50%; margin-left: -40.5%;
                                    overflow: hidden;
                                    padding: 0;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                    span {
                                        position: absolute;top:0; left: 0;
                                        display: block; width: 100%; height: 100%;
                                        background: #490b21;
                                        opacity: .38;
                                    }
                                    @for $i from 1 through 15 {
                                        &:nth-child(#{$i}) {
                                            top:calc(49.6% * #{$i})
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.on {
                    .right {
                        .tileBox {
                            .txt {
                                p {
                                    opacity: 1;
                                }
                            }
                            .tileList {
                                >ul {
                                    top:-666%;
                                }
                            }
                        }
                    }
                }
            }
            .p4 {
                position: relative; 
                display: flex;
                padding: 0;
                .txtBox {
                    position: absolute;
                    top:22.2%; right: 8%;
                    text-align: right;
                    p {
                        font-size: 54px;
                        line-height: 70px;
                        font-family: 'Noto Sans CJK KR Thin';
                        margin-bottom: 10px;
                        span {
                            font-family: 'Noto Sans CJK KR Bold';
                            margin-bottom: 20px;
                        }
                    }
                    img {
                        width: 76px;
                        position: relative;
                        right: 2%;
                        // margin-top: 
                    }
                }
                .phone {
                    >img {
                        float: left;
                        padding-top: 120px; padding-left: 125px;
                        max-height:80%;
                    margin-right: 40px;
                    height: 890px;
                    }
                    .txtbar {
                        font-size: 70px; color:#fff;
                        top:36.5%; left:35.1%;
                        position: absolute;
                        div {
                            margin-bottom: 80px;
                            position: absolute;
                            width: 700px;
                            left:-1200px;
                            transition: all .35s;
                            img {
                                height: 100px;
                                position: absolute; top:0; left: 0;
                                z-index: 0;
                            }
                            p {
                                z-index: 1;
                                position: relative;
                                top:15px;
                                text-indent: 20px;
                            }
                            &.fir {
                                font-family: 'Noto Sans CJK KR Thin';
                                top:0;
                                transition-delay:1s;
                                letter-spacing: -2px;
                            }
                            &.sec {
                                font-family: 'Noto Sans CJK KR Bold';
                                top:178px;
                                transition-delay:2s;
                                letter-spacing: -2px;
                            }
                            &.thi {
                                font-family: 'Noto Sans CJK KR Black';
                                top:356px;
                                transition-delay:3s;
                            }

                        }
                    }
                }
                &.on {
                    .phone {
                        .txtbar {
                            >div {
                                left:0;
                            }
                        }
                    }
                }
            }
            .p5 {
                padding-top: 8.33%; text-align-last: center;
                font-family: 'Noto Sans CJK KR Thin';
                background: unset;
                div {
                    position: relative;
                    opacity: 0;
                    transition: all .5s;
                    top: 30px;
                }
                .row_1 {
                    margin-bottom: 50px;
                    transition-delay:.7s;
                    img {
                        width: 220px;
                        margin-bottom: 12px;
                        opacity: .9;
                    }
                    p {
                        font-size: 30px; color:#fff;
                        letter-spacing: 13px;
                        opacity: .5; margin-left: 8px;
                    }
                }
                .row_2 {
                    margin-bottom: 10px;
                    transition-delay:1.1s;
                    p {
                        font-size: 70px; color:#fff;
                        font-family: 'Noto Sans CJK KR Black';
                        margin-bottom: 30px;
                        span {
                            color:#ff2765;
                        }
                    }
                }
                .row_3 {
                    transition-delay:1.5s;
                    margin-bottom: 50px;
                    p {
                        font-size: 34px; line-height: 50px;
                        color:#fff; opacity: .5;
                        font-family: 'Noto Sans CJK KR Thin';
                        letter-spacing: -2px;
                    }
                }
                .row_4 {
                    transition-delay:1.9s;
                    img {
                        width: 300px;
                        &.left {
                            margin-right: 25px;
                        }
                    }
                }
                &.on {
                    div {
                        opacity: 1;
                        top:0;
                    }
                }
            }
        }
        #p5_back {
            position: fixed; top:0; left: 0;
            width: 100%;z-index: -1; height: 100%;
            img {
                // min-width: 1920px;
                width:100%; display: none;
                position: absolute; top:0; left: 0;z-index: -1;
            }
            .on {
                display: block;
            }
            .cover {
                position: absolute; top:0; left: 0;
                width:100%; height: 100%;background:#000;
                opacity: .7; 
            }
        }
    }
}